@font-face {
	font-family: 'FrutigerLTW02-67BoldCn';
	src: url('../fonts/FrutigerLTW02-67BoldCn.eot');
	src: url('../fonts/FrutigerLTW02-67BoldCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FrutigerLTW02-67BoldCn.woff') format('woff'),
		url('../fonts/FrutigerLTW02-67BoldCn.woff2') format('woff2'),
		url('../fonts/FrutigerLTW02-67BoldCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'FrutigerLTW02-57Condensed';
	src: url('../fonts/FrutigerLTW02-57Condensed.eot');
	src: url('../fonts/FrutigerLTW02-57Condensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FrutigerLTW02-57Condensed.woff') format('woff'),
		url('../fonts/FrutigerLTW02-57Condensed.woff2') format('woff2'),
		url('../fonts/FrutigerLTW02-57Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
