ul#dexp_sections,
ul.dexp-section-inner {
  margin: 0 !important;
  min-height: 30px;
  padding: 0;
}
li.dexp-section {
  border: 1px solid #DDD;
  margin-bottom: 20px;
}
.dexp-section-header {
  background: #DDD;
  line-height: 30px;
}
.dexp-region {
  margin-top: 5px;
  margin-bottom: 5px;
}
.region-inner {
  background-color: #FFF;
  border: 1px solid #EEE;
  line-height: 30px;
}
.region-settings,
.section-settings {
  line-height: 30px;
  margin-right: 5px;
  cursor: pointer;
}
.section-sortable,
.region-sortable {
  margin: 0 5px;
  cursor: move;
}
ul#dexp_sections li {
  list-style: none;
}
ul#dexp_layouts {
  margin: 10px 0;
  padding: 0;
}
ul#dexp_layouts li.default span.fa-ban {
  display: none;
}
li.dexp_layout {
  background: none repeat scroll 0 0 #EEEEEE;
  display: inline-block;
  margin-right: 10px;
  padding: 2px 10px;
  opacity: 0.8;
  margin-bottom: 10px;
}
li.dexp_layout span.fa {
  display: none;
}
li.dexp_layout.active span.fa {
  display: inline;
}
li.dexp_layout a {
  border-radius: 5px;
  padding: 2px 10px;
}
li.dexp_layout.active {
  background: none repeat scroll 0 0 #DDDDDD;
  box-shadow: 3px 3px 3px -1px;
  opacity: 1;
}
#edit-preset-settings .form-item {
  max-width: 250px;
}
#edit-preset-settings #placeholder {
  position: absolute;
  top: 0;
  left: 50%;
}
#edit-preset-settings .form-item.focus {
  background: #EEEEEE;
}
span.layout-settings {
  cursor: pointer;
}
.dexp-section-unassigned {
  opacity: 0.6;
}
.dexp-section-unassigned .section-settings {
  display: none;
}
#edit-cols .form-item {
  width: 23%;
  display: inline-block;
}
#edit-drupalexp-section-settings .form-type-checkbox {
  display: inline-block;
  width: 30%;
}
#edit-offset .form-item {
  width: 23%;
  display: inline-block;
}
#edit-fonts-settings .google-font {
  display: none;
}
#edit-fonts-settings fieldset {
  padding-bottom: 15px;
}
#edit-fonts-settings fieldset label {
  font-weight: 300;
  color: #999;
  font-size: 12px;
}
.ui-autocomplete{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 350px;
}
ul.row{
  display: table;
  width: 100%;
  min-height: 30px;
  height: 30px;
}