.dexp-slick-carousel{
	.dexp-slick-carousel-inner{
		.slick-prev{
			&:hover{
				&:before{
					color: @link_hover_color;
				}
			}
			&:before{
				content: '\e257';
				font-family: 'Glyphicons Halflings';
				color: #fff;
				.transition(all, .3s);
			}
		}
		.slick-next{
			&:hover{
				&:before{
					color: @link_hover_color;
				}
			}
			&:before{
				content: '\e258';
				font-family: 'Glyphicons Halflings';
				color: #fff;
				.transition(all, .3s);
			}
		}
	}
}
