#section-footer{
	padding: 20px 0 20px 0;
	background: #77933c;
	text-align: center;
	.region-copyright{
		#block-copyright{
			display: inline-block;
			p{
				font-size: 13px;
				line-height: 20px;
				font-weight: normal;
				font-style: normal;
				color: #000000;
				margin-bottom: 0;
			}
		}
		#block-footermenu{
			display: inline-block;
			.menu{
				margin-left: 12px;
				margin-bottom: 0;
				@media screen and ( max-width: 500px ) {
					margin-left: 0;
				}
				li{
					display: inline-block;
					margin-left: 12px;
					&:first-child {
						margin-left: 0px;
					}
					a{
						font-size: 13px;
						line-height: 16px;
						text-decoration: none;
						.transition(all, .3s);
						&.is-active{
							color: @base_color;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
