.contact-form-block-contact{
	width: 100%;
	max-width: 650px;
	@media screen and ( max-width: 768px ) {
		max-width: 100%;
	}
	.form-no-label{
		color: #000000;
		font-family: Arial, sans-serif;
		font-weight: bold;
		font-style: normal;
	}
	.block-title{
		font-size: 30px;
		font-family: Arial, sans-serif;
		font-weight: normal;
		font-style: normal;
		color: #FFFFFF;
		padding: 22px 0 70px 27px;
		background: #000;
		margin-top: 40px;
		margin-bottom: 0;
	}
	.contact-form-content{
		padding: 10px 22px 10px 22px;
		background: #ffffff;
		margin-top: -20px;
		.form-item{
			width: 100%;
			select, input, textarea{
				border-radius: 1px;
				font-family: Arial, sans-serif;
				font-weight: normal;
				font-style: normal;
				color: #000000;
				box-shadow: none;
				width: 75%;
			}
			select, input{
				height: 30px;
			}
		}
		label{
			color: #000000;
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-style: normal;
			width: 25%;
			float: left;
			clear: both;
			padding-right: 5px;
		}
	}
	.form-actions{
		padding: 0 0 30px 0;
		text-align: right;
		margin-bottom: 40px;
		.webform-button--submit{
			background: #000;
			font-size: 14px;
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-style: normal;
			border: none;
			border-radius: 1px;
			&:hover{
				background: #BE3B21;
			}
		}
	}
}
form.reforestationworld-sign-up-form{
    #project_locations_table{
    table{
      thead{
        display: none;
      }
      tr{
        td:first-child{
          display: none;
        }
        td{
          padding: 0;
          border-top: none;
          .form-item{
            margin-top: 1em;
            margin-bottom: 1em;
          }
        }
      }
    }
  }
	margin-bottom: 70px;
	@media screen and ( max-width: 768px){
		margin-bottom: 30px;
	}
	.webform-details-toggle-state-wrapper{
		margin: 0px;
	}
	.js-form-wrapper{
		border: none;
		summary{
			background-color: #000000;
			padding: 15px 30px 45px 20px;
			font-size: 30px;
			@media screen and ( max-width: 767px){
				padding: 15px 20px 30px 20px;
				font-size: 20px;
			}
		}
		#edit-e-mail--description{
			display: none;
		}
		.details-wrapper{
			background-color: #fff;
			.form-managed-file{
				width: ~'calc( 100% - 245px)';
				display: inline-block;
				margin-bottom: 10px;
				.description{
					display: none;
				}
				.button{
					cursor: pointer;
				}
			}
			.js-form-item {
				label{
					display: inline-block;
					width: 240px;
					color: #000 !important;
					vertical-align: top;
					@media screen and ( max-width: 500px ) {
						display: block;
					}
				}
				input,select{
					height: 28px;
					padding: 0 15px;
				}
				textarea{
					border-radius: 0px;
					border-color: #aeb2b4;
				}
				input, select,.form-textarea-wrapper, .form-submit{
					display: inline-block;
					width: ~'calc( 100% - 245px)';
					border-radius: 0px;
					border-color: #aeb2b4;
					@media screen and(max-width: 600px){
						display: block;
						width: 100%;
					}
				}
				.form-submit{
					background: #000;
					color: #fff;
					background: #000;
					width: 150px;
					margin: 0;
					line-height: 15px;
					color: #fff;
					font-weight: 600;
				}
			}
			#edit-organisation-details-message{
				p{
					color: #000;
					a{
						color: @link_hover_color;
					}
				}
			}
		}
	}
	.form-term-service{
		background-color: #fff;
		padding: 20px;
		position: relative;
		legend{
			display: none;
		}
		#edit-term-service-html{
			color: #000;
			font-weight: 600;
			display: inline-block;
			position: absolute;
			top: 35px;
			left: 37px;
			margin: 0;
			p{
				display: inline-block;
				margin-bottom: 0;
				position: relative;
				&:after{
					content: '*';
					font-size: 17px;
					color: #ff0000;
					position: absolute;
					top: 0;
					right: -8px;
				}
			}
			a{
				color: @base_color;
                &:hover{
                    color: #000;
                }
			}
		}
		.js-form-type-webform-terms-of-service{
			label{
                color: #000;
                font-weight: 600;
                a{
                    color: @base_color;
                    &:hover{
                        color: #000;
                    }
                }
				//display: none;
			}
		}
	}
	#edit-actions{
		text-align: right;
		.webform-button--submit{
			background: #000;
			height: 28px;
			border-radius: 0px;
			border: none;
			padding: 18px 30px;
			.transition(all,0.3s);
			font-weight: 600;
			line-height: 0px;
			&:hover{
				background: @base_color;
			}
		}
	}
	.webform-terms-of-service-details{
		color: #000;
	}
}
.block-system-main-block{
	.search-form{
		.form-type-search{
			width: 80%;
			display: inline-block;
			@media screen and ( max-width: 500px ) {
				margin-bottom: 0;
				width: 100%;
			}
			label{
				display: block;
				font-size: 32px;
				line-height: 40px;
				font-family: 'FrutigerLTW02-67BoldCn', Arial, sans-serif;
				font-weight: normal;
				font-style: normal;
				color: #FFFFFF;
				text-transform: uppercase;
				margin-top: 0px;
				margin-bottom: 20px;
				@media screen and ( max-width: 500px ) {
					font-size: 20px;
					margin-bottom: 0;
				}
			}
			.form-search{
				margin-top: 17px;
				margin-bottom: 20px;
				width: 100%;
				border-radius: 0px;
			}
		}
		.form-control{
			border-radius: 0px;
			@media screen and ( max-width:767px ){
				width: 100%;
			}
		}
		.form-submit{
			display: inline-block;
			background: #000;
			font-size: 14px;
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-style: normal;
			border: none;
			border-radius: 1px;
			margin-right: 0;
			width: 100px;
			@media screen and ( max-width: 500px ) {
				margin-left: 0;
				margin-bottom: 30px;
			}
			&:hover{
				background: #BE3B21;
			}
		}
		a{
			color: #fff;
		}
		.search-advanced{
			summary{
				margin: 10px 0 10px 16px;
			}
			legend{
				span{
					color: #fff;
					font-family: Arial, sans-serif;
					font-weight: bold;
					font-style: normal;
				}
			}
			.action{
				input{
					background: #000;
					font-size: 14px;
					font-family: Arial, sans-serif;
					font-weight: bold;
					font-style: normal;
					border: none;
					border-radius: 1px;
					color: #fff;
					width: 160px;
					&:hover{
						background: #BE3B21;
					}
				}
			}
		}
	}
	.item-list{
		margin-bottom: 30px;
		h3{
			color: #fff;
		}
	}
}

.field--type-text-with-summary{
	h1{
		text-transform: uppercase;
		margin-bottom: 30px;
		color: #fff;
	}
}
#block-simplenewssubscription{
	h2{
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 35px;
		color: #fff;
		font-family: 'FrutigerLTW02-67BoldCn', 'Arial', sans-serif;
	}
	.js-form-item{
		.js-form-required{
			display: inline-block;
		}
		.form-email{
			display: inline-block;
			margin-bottom: 15px;
			border-radius: 0px;
			border-color: #aeb2b4;
			@media screen and ( max-width: 767px){
				width: 100%;
			}
		}
	}
	.js-form-submit{
		background: #000;
		color: #fff;
		font-weight: 600;
		border-radius: 0px;
		border: none;
		padding: 8px 25px;
		.transition(all,0.3s);
		&:hover{
			background: @base_color;
		}
	}
}

