@media screen and (min-width: 992px){
  .dexp-container{
    padding: 40px 40px 0px 40px;
    .region-navigation{
      ul.dexp-menu{
        float: right;
        >li{
          &.menu-item--active-trail{
            a{
              color: @base_color;
            }
          }
          display: inline-block;
          a{
            line-height: 67px;
            color: @link_color;
            .transition (all,0.3s);
            font-size: 30px;
			line-height: 30px;
            text-decoration: none;
            font-weight: normal;
            color: #2A472A;
            font-family: "FrutigerLTW02-57Condensed", Arial, sans-serif;
            span{
              font-family: 'FrutigerLTW02-67BoldCn', Arial, sans-serif;
            }
            text-transform: uppercase;
            &:hover{
              color: @link_hover_color;
            }
          }
          margin-left: 20px;
			&:first-child{
				margin-left: 0;
			}
        }
      }
    }
  }
}
 .dexp-container{
	 .region-navigation{
      ul.dexp-menu{
		   >li{
			   a{
				 @media screen and (max-width: 1200px){
					font-size: 20px;
				 }
			   }
		  	}
		 }
	 }
}

/* Mobile menu */
@media screen and (max-width: 991px){
   .dexp-container{
		padding: 15px 15px 0px 15px;
		.region-navigation{
			float: left;
			.dexp-menu-toogle{
				color: #000;
				line-height: 33px;
				font-size: 20px;
				text-transform: uppercase;
				font-family: 'FrutigerLTW02-67BoldCn';
			}
			ul.dexp-menu{
				background-color: #fff;
				top: 40px;
				max-height: none;
				width: 190%;
				left: -300%;
				.transition(all ,0.3s);
				.box-shadow (1px, 1px,5px,0px,rgba(189,187,189,1));
				margin-top: 10px;
				li{
					border-bottom: 1px solid #e8eaeb;
					padding: 5px 15px;
					&.menu-item--active-trail{
						background-color: #e8eaeb;
						a{
							color: @base_color;
						}
					}
					a{
						line-height: 35px;
						font-size: 18px;
						font-family: Arial, sans-serif;
						text-transform: uppercase;
						display: block;
					}
				}
			}
		}
		.region-logo{
			float: right;
			.site-logo{
				float: right;
				img{
					width: 170px;
					height: auto;
				}
			}
		}
	}
}
