.project-teaser{
  img{
    width: 100%;
    height: auto;
  }
}
#dexp-gmap-wrapper{
    height: 500px;
    @media screen and (max-width: 991px){
        height: 400px;
    }
    @media screen and (max-width: 767px){
        height: 350px;
    }
	.infobox{
		h3{
			margin-top: 0;
            margin-bottom: 0;
			font-size: 20px;
		}
	}
    img[src*="mapcnt6.png"]{
        display:none;
    }
}
.title-our-projects,.title-world-wide{
	margin-bottom: 20px;
	.dexp-title{
		color: #fff;
		text-transform: uppercase;
		font-family: 'FrutigerLTW02-67BoldCn', Arial, sans-serif;
		font-weight: normal;
		font-style: normal;
	}
}
.view-projects{
	.dexp-grid-filter{
		.grid-filter{
			ul{
				list-style-type: none;
				margin: 10px 0 30px;
				text-align: center;
                padding: 0;
				li{
					display: inline-block;
                    padding: 15px;
                    margin: 0 5px;
                    background-color: #fff;
					@media screen and ( max-width: 992px ){
						margin-bottom: 10px;
					}
                    @media screen and ( max-width: 480px ){
						display: block;
					}
					a{
						font-size: 16px;
						text-transform: uppercase;
						font-weight: bold;
						.transition (all,0.3s);
					}
					.active{
						color: @link_hover_color;
					}
				}
			}
		}
	}
}
.project-detail{
	.region-title,
	.project-description{
		h3{
			color: #fff;
			margin-top: 0;
			font-weight: bold;
		}
	}
	.project-name{
		margin-bottom: 10px;
		h2{
			color: #fff;
			font-family: 'FrutigerLTW02-67BoldCn', Arial, sans-serif;
			font-size: 32px;
			text-transform: uppercase;
			margin-top: 0px;
			margin-bottom: 15px;
			line-height: 40px;
		}
	}
	.field--name-field-category, .field--name-field-project-url {
		font-size: 14px;
    color: #fff;
		a{
			color: #fff;
			&:hover{
				color: @base_color;
			}
		}
	}
	.project-left-image{
		.field__label{
			font-size: 14px;
			margin-bottom: 5px;
		}
		.field__item{
			margin-bottom: 10px;
		}
	}
	.project-image{
    img{
      width: 100%;
      height: auto;
    }
	}
	.project-meta-center,
	.project-meta-left,
	.project-meta-right{
		margin-top: 30px;
		.clearfix,.field{
			margin-bottom: 5px;
			.field__label{
				font-size: 14px;
				margin-bottom: 5px;
			}
		}
	}
	.project-description{
		margin-bottom: 50px;
		@media screen and ( max-width: 767px ){
			margin-bottom: 30px;
		}
		.field__label{
			font-size: 14px;
			margin-bottom: 5px;
		}
		.field--name-field-map-coordinates{
			padding: 20px;
			@media screen and ( max-width: 767px ){
				padding: 20px 0;
			}
		}
	}
}
.ui-widget-content{
	.ui-dialog-titlebar{
		padding: 10px;
		.ui-dialog-title{
			font-size: 25px;
		}
	}
	.process-bar{
		background: #333;
		.process-bar-inner{
			color: #fff;
		}
	}
	.project-detail{
		.project-name{
			.field--name-node-title{
				display: none;
			}
		}
        .field--name-field-category{
            color: #333;
			a{
				color: #333;
				&:hover{
					color: @base_color;
				}
			}
        }
	}
	.region-title, .project-description{
		h3{
			color: #333;
			margin-top: 0;
			font-weight: bold;
		}
	}
}
.view-taxonomy-term{
	.view-header{
		.vocabulary-project-category{
			.field--name-description{
				padding: 20px 0;
			}
			p{
				font-size: 16px;
			}
		}
	}
}

.process-bar{
  position: relative;
  background-color: #333;
  height: 30px;
  .process-bar-inner{
    left:0;
    top:0;
    position: absolute;
    height: 100%;
    background-color: @base_color;
    line-height: 30px;
    text-align: center;
  }
}

.project-teaser{
	position: relative;
	.box-shadow (2px,2px, 4px,-2px, rgba(0,0,0,1.0));
	&:hover{
		.topic-info{
			background: @link_hover_color ;
			.category{
				a{
					color: #fff;
				}
			}
			.name{
				a,p{
					color: #fff;
				}
			}
		}
	}
	.topic-info{
		display: flex;
		@media screen and ( max-width: 767px ) {
			display: block;
		}
		padding: 20px;
		background: #ffffff;
		.box-shadow (2px,2px, 4px,-2px, rgba(0,0,0,1.0));
		.transition (all,0.3s);
		.category{
			display: flex;
			align-items: center;
			align-content: center;
			-webkit-transform: rotateZ(-91deg);
            -moz-transform: rotateZ(-91deg);
            -ms-transform: rotateZ(0deg);
            -o-transform: rotateZ(-91deg);
            transform: rotateZ(-91deg);
			margin: 0 20px;
			text-align: center;
			@media screen and ( max-width: 767px ) {
				display: block;
				margin: 20px 0;
				-webkit-transform: rotateZ(0deg);
                -moz-transform: rotateZ(0deg);
                -ms-transform: rotateZ(0deg);
				-o-transform: rotateZ(0deg);
				transform: rotateZ(0deg);
			}
			a{
				color: @link_hover_color ;
				font-size: 20px;
				.transition (all,0.3s);
                position: absolute;
                line-height: 25px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
				@media screen and (max-width: 767px){
					position: relative;
					left: auto;
					top: auto;
				}
			}
		}
		.image{
			img{
				max-width: 100%;
			}
		}
		.name{
			@media screen and ( max-width: 767px ){
				margin-top: 30px;
			}
			h3{
				margin-top: 0;
			}
			a{
				font-family: "FrutigerLTW02-57Condensed", Arial, sans-serif;
				color: @link_hover_color ;
				.transition (all,0.3s);
				i{
					position: absolute;
					right: -5px;
					font-size: 60px;
					top: ~'calc(50% - 30px)';
					@media screen and ( max-width: 767px ){
						top: ~'calc(50% - 15px)';
						font-size: 40px;
					}
				}
			}
			p{
				color: #000000;
				padding-right: 30px;
				.transition (all,0.3s);
			}
		}
	}
}

.voice-teaser{
	background-color: #fff;
	padding: 20px 60px 20px 20px;
	.box-shadow (2px,2px, 4px,-2px, rgba(0,0,0,1.0));
	.transition (all,0.3s);
	position: relative;
	.image{
		@media screen and ( max-width:768px){
			margin-bottom: 15px;
		}
	}
	&:hover{
		background-color: @base_color;
		.content{
			.field--name-body{
				color: #fff;
			}
			.field--name-node-title {
				h2{
					color: #fff;
					a{
						color: #fff;
					}
				}
			}
			.field--name-node-link{
				i{
					color: #fff;
				}
			}
		}
	}
	.content{
		position: static;
		.field--name-node-title {
			h2,.link-popup{
				margin: 0px 0px 12px 0px;
				a{
					font-family: "FrutigerLTW02-57Condensed", Arial, sans-serif;
					font-size: 24px;
					color: @base_color;
					.transition(all,0.3s);
					position: relative;
					top: -8px;
				}
			}
		}
		.field--name-body{
			color: #000;
			.transition(all,0.3s);
		}
		.field--name-node-link{
			display: inline-block;
			position: absolute;
			right: 0;
			font-size: 45px;
			top: 50%;
			line-height: 40px;
			color: @base_color;
			.translateY(-50%);
			.transition(all,0.3s);
			i{
				color: @base_color;
				font-size: 55px;
			}
		}
	}
}

.voice-detail{
	.voice-name{
		h2{
			font-size: 32px;
			line-height: 38px;
			font-family: 'FrutigerLTW02-67BoldCn', Arial, sans-serif;
			color: #FFFFFF;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}
	.voice-media {
		margin-bottom: 30px;
		.voice-teaser{
			background-color: transparent;
			box-shadow: none;
			&:hover{
				background-color: transparent;
			}
		}
		.content{
			border-left: 1px solid #fff;
			@media screen and ( max-width: 767px ){
				border-left: none;
			}
		}
	}
	.voice-content{
		margin-top: 30px;
		background: #fff;
		color: @link_color;
		margin-bottom: 20px;
		padding: 20px;
		p{
			margin-bottom: 30px;
			strong{
				color: #5F7242;
				font-size: 18px;
				font-family: "FrutigerLTW02-57Condens", Arial, sans-serif;
				font-weight: normal;
				font-style: italic;
			}
		}
	}
}
.voice-link{
	.voice-link-2{
		position: relative;
		&:before{
			content: "";
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
			width: 100%;
			height: ~'calc(100% - 30px )';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			@media screen and ( max-width: 991px ){
				border-right: none;
			}
			@media screen and ( max-width: 767px ){
				border-right: none;
				border-left: none;
			}
		}
	}
	.field{
		margin-bottom: 30px;
		a{
			position: relative;
			font-size: 30px;
			text-align: left;
			padding: 25px 62px 25px 30px;
			background: #000;
			text-transform: uppercase;
			color: #fff;
			line-height: 36px;
			font-family: "FrutigerLTW02-57Condensed", Arial, sans-serif;
			padding-right: 93px;
			.transition(all,0.3s);
			display: block;
			&:after{
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: 400;
				font-size: 60px;
				color: #fff;
				content: "\e258";
				position: absolute;
				right: 0;
				top: ~'calc(50% - 17px )';
			}
			&:hover{
				background: #BE3B21;
				color: #fff;
				&:after{
					color: #fff;
				}
			}
		}
	}
}
.path-voices{
    #section-content{
        padding-bottom: 50px;
    }
}
.voice-teaser, .project-teaser{
    .dexp-slick-carousel {
        .slick-prev, .slick-next {
            z-index: 2;
            width: 30px;
            height: 30px;
            margin-top: 0px;
            line-height: 28px;
            &:before{
                font-size: 12px;
                line-height: 28px;
            }
        }
    }
}
#project_detail{
    > div{
        background: #fff;
        color: #000;
        padding: 15px;
        margin-top: 20px;
    }
    .project-detail .project-name h2{
        color: #000;
    }
    .process-bar{
		background: #333;
		.process-bar-inner{
			color: #fff;
		}
	}
	.project-detail{
        .field--name-field-category{
            color: #333;
			a{
				color: #333;
				&:hover{
					color: @base_color;
				}
			}
        }
	}
	.region-title, .project-description{
		h3{
			color: #333;
			margin-top: 0;
			font-weight: bold;
		}
	}
    .project-description{
        margin-bottom: 0;
    }
}
.node-project-teaser{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .project-title-wrapper{
        padding: 0 10px 5px;
        h2{
            margin: 0;
            line-height: 35px;
            font-size: 26px;
            a{
                color: @base_color;
                &:hover{
                    color: #000;
                }
            }
        }
    }
    .project-teaser-content{
        margin: 40px 15px 25px;
        padding: 15px 50px 10px 10px;
        max-width: 65%;
        float: right;
        color: #000;
        position: relative;
        h3{
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #000;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 5px;
        }
        .btn-to-single{
            color: @base_color;
            font-size: 55px;
            position: absolute;
            right: 0;
            top: 50%;
            line-height: 55px;
            .translateY(-50%);
            &:hover{
                color: #000;
            }
        }
    }
    .project-categories{
        clear: both;
        padding: 0 10px 5px;
        a{
            color: #000;
            font-size: 20px;
            line-height: 35px;
            &:hover{
                color: @base_color;
            }
        }
        .field__item{
            display: inline-block;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
