#block-reforestationworld-content{
	h2{
		color: #fff;
	}
	.item-list{
		margin-bottom: 50px;
		.search-results{
			margin: 0;
			padding: 0;
			li{
				margin-left: 0;
				border-bottom: 1px solid #fff;
				padding-bottom: 10px;
				.search-result__title{
					font-size: 16px;
					margin-bottom: 20px;
					a{
						position:relative;
						&:before{
							content: "\f090";
							color: #c80a0a;
							font-size: 14px;
							font-family: FontAwesome;
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
}
