body{
	background-color: #5F7242;
}
.block-dexp-layerslider{
    position: relative;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	.transition(all, .3s);
	&:hover, &:focus{
		text-decoration: none;
	}
}
#section-header{
	background-image: url('../images/header.jpg');
	height: 360px;
  @media screen and (max-width: 991px){
    height: 214px;
  }
	background-position: center bottom;
    background-size: cover;
}
.columm-who-we-are{
	.content-text{
		.box-shadow (0px,2px, 4px,-2px, #000000);
	}
	.who-we-are{
		position: relative;
		padding: 20px 20px 47px 20px;
		background-color: #BE3B21;
		.dexp-title{
			color: #fff;
			font-weight: 600;
			margin: 0;
		}
	}
}
.dexp-title, h1{
	font-family: 'FrutigerLTW02-67BoldCn', 'Arial', sans-serif;
}
.region-content{
	.contextual-region{
		.who-we-are{
			position: relative;
			padding: 20px 20px 47px 20px;
			background-color: #BE3B21;
			.dexp-title{
				color: #fff;
				font-weight: 600;
				margin: 0;
			}
		}
	}
	.content-text{
		p{
			color: #000000;
		}
	}
}
.title-our-goar{
	margin-bottom: 20px;
	.dexp-title{
		color: #ffffff;
		font-size: 30px;
	}
}
.text-our-goal{
	margin-bottom: 20px;
	.image-our-goal{
		@media screen and ( max-width: 767px ) {
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		img{
			max-width: 100%;
			width: 100%;
			border: 20px solid #fff;
			box-shadow: 2px 2px 4px -2px rgba(0,0,0,1.0);
		}
	}
}
.text-our-goal-content{
	padding-bottom: 60px;
	.content-text-small{
		margin-top: 20px;
		p{
			font-size: 12px;
			margin-top: 20px;
		}
	}
}

.dexp-button{
	&.botton-our-goal-style{
		background: transparent;
		display: block;
	}
}
.field--name-body{
	.text-link-our-goal{
		display: block;
		color: #fff;
		font-size: 30px;
		line-height: 1.2em;
		padding: 25px;
		text-decoration: none;
		background-color: #000;
		.transition (all,0.3s);
		margin-top: 20px;
		position: relative;
		&:hover{
			background-color: #BE3B21;
			color: #fff;
		}
		&:before{
			content: "\e258";
			position: absolute;
			width: 80px;
			height: 80px;
			top: 50%;
			right: -30px;
			font-family: FontAwesome;
		}
	}
}

.our-project-button,.text-colum-right{
	overflow: hidden;
	&.bottom-block{
		margin-top: 20px;
		a{
			display: block;
			.box-shadow (2px,2px, 4px,-2px, #000000);
		}
	}
	&.border-right{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			border: 1px solid #fff;
			width: 1px;
			height: 100%;
			right: -1px;
			@media screen and(max-width: 992px){
				display: none;
			}
		}
	}
	&.discover-columm{
		@media screen and(max-width: 992px){
			margin-bottom: 20px;
		}
		a{
			padding: 25px 93px 25px 30px;
			text-transform: uppercase;
			font-family: "FrutigerLTW02-57Condensed", Arial, sans-serif;
			.box-shadow (2px,2px, 4px,-2px, #000000);
			display: block;
		}
	}
	&.margin-bottom{
		@media screen and(max-width: 992px){
			margin-bottom: 0px;
		}
	}
	.dexp-button {
		position: relative;
		font-size: 30px;
		text-align: left;
		padding: 25px 93px 25px 30px;
		@media screen and(max-width: 992px){
			padding: 25px 70px 25px 30px !important;
		}
		background: #000;
		border: none;
		border-radius: 0;
		white-space: normal;
		color: #fff;
		background-image: none;
		line-height: 36px;
		font-family: "FrutigerLTW02-57Condensed", Arial, sans-serif;
		.transition(all,0.3s);
		&:hover{
			background: #BE3B21;
			color: #fff;
			i{
				color: #fff;
			}
		}
		i{
			font-size: 60px;
			position: absolute;
			right: 5px;
			top: ~'calc( 50% - 30px)';
			color: #fff;
		}
		&.worid-wide-button {
			margin-top: 30px;
		}
	}
}
.text-worid-wide{
	margin-bottom: 23px;
}
.text-colum-left div > p{
	margin-bottom: 20px;
}
.text-align-about{
	margin-bottom: 20px;
	.box-shadow (2px,2px, 4px,-2px, #000000);
	background-color: #fff;
	font-family: "FrutigerLTW02-57Condens", Arial, sans-serif;
	color: #A63911;
	font-size: 24px;
	padding: 30px 32px;
}

.main-col{
	.bricks{
		.text-top, .text-middle, .text-bottom, .text-bottom-bottom{
			margin-bottom: 40px;
			border-bottom: 1px solid #fff;
			padding-bottom: 20px;
			p{
				padding: 10px 0;
			}
			.external{
				text-decoration: none;
				&:before{
				content: "\f08e";
				color: #c80a0a;
				font-size: 14px;
				font-family: FontAwesome;
				padding-right: 5px;
				}
			}
			h1{
				font-size: 30px;
				font-weight: normal;
				font-style: normal;
				color: #FFFFFF;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
		}
		.text-bottom-bottom{
			border-bottom: none;
			padding-bottom: 0;
		}
	}
}

.ui-resizable{
	.ui-dialog-titlebar{
		.ui-dialog-titlebar-close{
			margin-top: -17px;
			right: 45px !important;
			.ui-button-icon{
				margin-right: 2px;
				position: relative;
			}
		}
	}
}

.block{
  &.bg-white{
    background-color: #fff;
    color: #000;
    h2.block-title{
      color: #000;
      font-weight: 600;
      text-transform: uppercase;
      font-family: 'FrutigerLTW02-67BoldCn', Arial, sans-serif;
      margin-top: 0;
    }
  }
  &.text-white{
    h2.block-title{
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      font-family: 'FrutigerLTW02-67BoldCn', Arial, sans-serif;
      margin-top: 0;
    }
  }
}

.page-video{
	.text-video{
		margin: 30px 0;
	}
	.video-youtube{
		margin-bottom: 30px;
		.content{
			border-left: 1px solid #fff;
		}
	}
}
.popover-content{
  color: #000;
}
.pager{
	margin: 0px;
	.pager__items{
		text-align: right;
		margin-top: -18px;
		.pager__item--first{
			display: none;
		}
		.pager__item--last{
			display: none;
		}
		.pager__item{
			padding: 0px;
			a{
				background: none;
				border: none;
				padding: 0px 5px;
				padding: 8px 5px;
				color: #fff;
				font-family: Arial, sans-serif;
				font-weight: bold;
				font-size: 13px;
			}
			&.pager__item--next, &.pager__item--previous{
				span{
					font-size: 22px;
					color: #fff;
				}
			}
			&.is-active{
				a{
					color: @base_color;
				}
			}
		}
	}
}
.block-views-blockprojects-block-2,.block-views-blockvoices-block-1{
	.block-title,h2{
		color: #fff;
		margin: 0px 0px 20px 0px;
		text-transform: uppercase;
		font-family: 'FrutigerLTW02-67BoldCn', 'Arial', sans-serif;
	}
	.view-header{
		padding: 18px 0px 12px 0px;
		p{
			color: #e8eaeb;
			font-size: 15px;
		}
	}
}
#comment-form{
	.text-full{
		max-width: 100%;
	}
}

.text-contact-info{
	a{
		color: #fff;
	}
}
