{#
/**
 * @file dexp_slider.html.twig
 * Default theme implementation to present Slider data.
 *
 * This template is used when viewing Slider pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dexp_slider()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dexp_slider') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
