<div {{ attributes }}>
  <div class="tp-caption-inner" style="{{ inner_css }}">
    {% if layer.type == 'text' %}
        {{ layer.text|raw }}
    {% elseif layer.type == 'image' %}
        <img src="{{ layer.image_url }}"/>
    {% endif %}
  </div>
</div>