<div{{ attributes.addClass('dexp-builder-box') }}>
  {% if (icon or icon_text) %}
    <div{{ icon_attributes.addClass('box-icon') }}>{% if use_text %}<i class="icon-text">{{ icon_text }}</i>{% else %}<i class="{{ icon }}"></i>{% endif %}</div>
  {% endif %}
  <div class="box-content-wrapper">
  {% if title %}
    <h3 class="box-title">{{ title|raw }}</h3>
  {% endif %}
  {% if content %}
    <div class="box-content">{{ content|raw }}</div>
  {% endif %}
  </div>
</div>