@media (min-width:992px){
  ul.menu.dexp-menu{
    margin:0;
    a, span.dexp-nolink{
      cursor: pointer;
    }
    .depth-2, .depth-3, .depth-4, .depth-5{
      left: 100%;
      &.opposite{
        left: inherit;
        right: 100%;
      }
    }
    &:after{
      content:"";
      display: block;
      clear: both;
    }
    >li{
      float: left;
      list-style: none;
      padding: 0;
      margin: 0;
      ul.menu, div.mega-menu-item{
        display: none;
        position: absolute;
        &.depth-2,&.depth-3,&.depth-4,&.depth-5{
          top:0;
        }
      }
      ul.menu{
        margin: 0;
        padding: 0;
      }
    }
    li.menu-item{
      position: relative;
    }
    div.mega-menu-item{
      &[data-width=full-container]{
        > .row{
          margin-right: 0;
          margin-left: 0;
        }
      }
      &[data-width=full-screen]{
        width: 100vw;
      }
      > .row{
        > .mega-menu-col{
          &:hover{
            z-index: 1000;
          }
          > ul.menu{
            display: block;
            position: relative;
            width: 100%;
            left: 0;
          }
        }
      }
    }
    li.menu-item--expanded:hover, li.menu-item--expanded.hover{
      >ul.menu, div{
        display: block;
        z-index: 999;
      }
    }
  }
  span.dexp-submenu-toogle,span.dexp-menu-toogle{
    display: none;
  }
}

/* Mobile menu */
@media (max-width: 991px){
  span.dexp-menu-toogle{
    display: block;
    line-height: 80px;
    cursor: pointer;
  }
  span.dexp-submenu-toogle{
    cursor: pointer;
  }
  ul.menu.dexp-menu{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    body.menu-open &{
      display: block;
      max-height: 10000px;
      overflow: visible;
    }
    li{
      display: block;
      list-style: none;
      position: relative;
      ul.menu, div.mega-menu-item{
        max-height: 0;
        overflow: hidden;
      }
      &.menu-open{
        >ul.menu, >div.mega-menu-item{
          max-height: 10000px;
        }
      }
    }
    .mega-menu-col{
      padding-right: 0;
    }
    .mega-menu-col.menu-open{
      >ul.menu, >div.mega-menu-item{
        max-height: 10000px;
      }
    }
    .mega-menu-item{
      width: ~"calc(100vw - 30px)";
    }
    ul.menu{
      margin-left: 15px;
    }
  }
}