@media (min-width: 992px) {
  ul.menu.dexp-menu {
    margin: 0;
  }
  ul.menu.dexp-menu a,
  ul.menu.dexp-menu span.dexp-nolink {
    cursor: pointer;
  }
  ul.menu.dexp-menu .depth-2,
  ul.menu.dexp-menu .depth-3,
  ul.menu.dexp-menu .depth-4,
  ul.menu.dexp-menu .depth-5 {
    left: 100%;
  }
  ul.menu.dexp-menu .depth-2.opposite,
  ul.menu.dexp-menu .depth-3.opposite,
  ul.menu.dexp-menu .depth-4.opposite,
  ul.menu.dexp-menu .depth-5.opposite {
    left: inherit;
    right: 100%;
  }
  ul.menu.dexp-menu:after {
    content: "";
    display: block;
    clear: both;
  }
  ul.menu.dexp-menu >li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.menu.dexp-menu >li ul.menu,
  ul.menu.dexp-menu >li div.mega-menu-item {
    display: none;
    position: absolute;
  }
  ul.menu.dexp-menu >li ul.menu.depth-2,
  ul.menu.dexp-menu >li ul.menu.depth-3,
  ul.menu.dexp-menu >li ul.menu.depth-4,
  ul.menu.dexp-menu >li ul.menu.depth-5,
  ul.menu.dexp-menu >li div.mega-menu-item.depth-2,
  ul.menu.dexp-menu >li div.mega-menu-item.depth-3,
  ul.menu.dexp-menu >li div.mega-menu-item.depth-4,
  ul.menu.dexp-menu >li div.mega-menu-item.depth-5 {
    top: 0;
  }
  ul.menu.dexp-menu >li ul.menu {
    margin: 0;
    padding: 0;
  }
  ul.menu.dexp-menu li.menu-item {
    position: relative;
  }
  ul.menu.dexp-menu div.mega-menu-item[data-width=full-container] > .row {
    margin-right: 0;
    margin-left: 0;
  }
  ul.menu.dexp-menu div.mega-menu-item[data-width=full-screen] {
    width: 100vw;
  }
  ul.menu.dexp-menu div.mega-menu-item > .row > .mega-menu-col:hover {
    z-index: 1000;
  }
  ul.menu.dexp-menu div.mega-menu-item > .row > .mega-menu-col > ul.menu {
    display: block;
    position: relative;
    width: 100%;
    left: 0;
  }
  ul.menu.dexp-menu li.menu-item--expanded:hover >ul.menu,
  ul.menu.dexp-menu li.menu-item--expanded:hover div,
  ul.menu.dexp-menu li.menu-item--expanded.hover >ul.menu,
  ul.menu.dexp-menu li.menu-item--expanded.hover div {
    display: block;
    z-index: 999;
  }
  span.dexp-submenu-toogle,
  span.dexp-menu-toogle {
    display: none;
  }
}
@media (max-width: 991px) {
  span.dexp-menu-toogle {
    display: block;
    line-height: 80px;
    cursor: pointer;
  }
  span.dexp-submenu-toogle {
    cursor: pointer;
  }
  ul.menu.dexp-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
  }
  body.menu-open ul.menu.dexp-menu {
    display: block;
    max-height: 10000px;
    overflow: visible;
  }
  ul.menu.dexp-menu li {
    display: block;
    list-style: none;
    position: relative;
  }
  ul.menu.dexp-menu li ul.menu,
  ul.menu.dexp-menu li div.mega-menu-item {
    max-height: 0;
    overflow: hidden;
  }
  ul.menu.dexp-menu li.menu-open >ul.menu,
  ul.menu.dexp-menu li.menu-open >div.mega-menu-item {
    max-height: 10000px;
  }
  ul.menu.dexp-menu .mega-menu-col {
    padding-right: 0;
  }
  ul.menu.dexp-menu .mega-menu-col.menu-open >ul.menu,
  ul.menu.dexp-menu .mega-menu-col.menu-open >div.mega-menu-item {
    max-height: 10000px;
  }
  ul.menu.dexp-menu .mega-menu-item {
    width: calc(100vw - 30px);
  }
  ul.menu.dexp-menu ul.menu {
    margin-left: 15px;
  }
}