<div class="project-teaser-latest">
  <div class="topic-info row">
    <div class=" imgage col-lg-5 col-md-5 col-sm-5 col-xs-12">
      {{ _image }}
    </div>
    <div class="name col-lg-7 col-md-7 col-sm-7 col-xs-12">
      {{ _project_name }}
      {{ _summary }}
    </div>
  </div>
</div>
