<div class="project-teaser">
  <div class="topic-info row">
    <div class="category col-lg-1 col-md-1 col-sm-1 col-xs-12">
      {{ _category }}
    </div>
    <div class=" imgage col-lg-5 col-md-5 col-sm-5 col-xs-12">
      {{ _image }}
    </div>
    <div class="name col-lg-6 col-md-6 col-sm-6 col-xs-12">
      {{ _project_name }}
      {{ _summary }}
    </div>
  </div>
</div>
