<div class="project-detail">
  <div class="row">
    <div class="project-name col-md-12">
      {{ _project_name }}
    </div>
    <div class="project-left-image col-md-4 col-sm-4 col-xs-12">
      {{ _project_left_img }}
    </div>
    <div class="project-image col-md-8 col-sm-8 col-xs-12">
      {{ _image }}
    </div>
    <div class="clearfix"></div>
    <div class="project-meta-left col-md-4 col-sm-6 col-xs-12">
      {{ _project_meta_left }}
    </div>
    <div class="project-meta-center col-md-4 col-sm-6 col-xs-12">
      {{ _project_meta_center }}
    </div>
    <div class="project-meta-right col-md-4 col-sm-6 col-xs-12">
      {{ _project_meta_right }}
    </div>
    <div class="clearfix"></div>
    <div class="project-description col-md-12">
      {{ _description }}
    </div>
  </div>
</div>
