<div class="voice-teaser">
  <div class="topic-info row">
    <div class="image col-md-4 col-sm-4 col-xs-12">
      {{ _image }}
    </div>
    <div class="content col-md-8 col-sm-8 col-xs-12">
      {{ _voice_name }}
      {{ _voice_summary }}
    </div>
  </div>
</div>
