<div class="voice-detail">
  <div class="voice-name">
	{{ _voice_name }}
  </div>
  <div class="voice-media row">
    <div class="voice-teaser col-md-6 col-sm-6 col-xs-12">
      {{ _left_image }}
    </div>
    <div class="content col-md-6 col-sm-6 col-xs-12">
      {{ _image }}
    </div>
  </div>
  <div class="voice-content">
	{{ _voice_content }}
  </div>
  <div class="voice-link row">
	<div class="voice-link-1 col-md-4 col-sm-6 col-xs-12">
      {{ _voice_link_1 }}
	</div>
	<div class="voice-link-2 col-md-4 col-sm-6 col-xs-12">
      {{ _voice_link_2 }}
	</div>
	<div class="voice-link-3 col-md-4 col-sm-6 col-xs-12">
      {{ _voice_link_3 }}
	</div>
  </div>
</div>
