/**
 * Styling for Facebook posts.
 */
article.facebook-post {
  clear: both;
  margin-top: 2em;
}

@media all and (min-width: 450px) {
  article.facebook-post {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  article.facebook-post > :first-child {
    -webkit-box-flex: 0 0 auto;
      -moz-box-flex:  0 0 auto;
       -webkit-flex:  0 0 auto;
           -ms-flex:  0 0 auto;
               flex:  0 0 auto;
  }
  article.facebook-post > * {
    -webkit-box-flex: 1 1 auto;
      -moz-box-flex:  1 1 auto;
       -webkit-flex:  1 1 auto;
           -ms-flex:  1 1 auto;
               flex:  1 1 auto;
  }
  article.facebook-post img {
    margin: 0 2em 1em 0;
  }
}

article.facebook-post time {
  font-weight: bold;
  font-size: 0.85em;
}
article.facebook-post p {
  margin-top: 0.5em;
}
article.facebook-post .sharing-data {
  font-size: 0.85em;
}
article.facebook-post .sharing-data .count-item{
    display: inline-block;
    margin-right: 15px;
    color: #05599c;
}
article.facebook-post .sharing-data .count-item:last-child{
    margin-right: 0px;
}
