/* Bootstrap grid*/
.row {
  margin-right: -15px;
  margin-left: -15px;
  display: table;
  width: calc(100% + 30px);
}
.row:before,
.row:after{
  display: table;
  content: " ";
}
.row:after{
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}

#slide-design{
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 100%;
  background-size: cover;
}
#slide-design .layer{
  position: absolute !important;
  cursor: move;
  white-space: pre;
  /*width: calc(100% + 2px);*/
}
#slide-design .layer.selected {
    box-shadow: 0 0 8px #DDE573;
}
#slide-design .layer img{
    width: 100%;
    height: auto;
}
#dexp-layerslider-slides-edit .vertical-tabs__menu{
  border-bottom: none;
  border-top: none;
}
#dexp-layerslider-slides-edit .vertical-tabs__menu-item a {
  border-bottom: none;
  display: inline-block;
  background-color: transparent;
  width: calc(100% - 105px);
}
#edit-layer-settings{
  display: none;
}
#edit-layer-settings.text,#edit-layer-settings.image, #edit-layer-settings.video{
  display: block;
}
#edit-layer-settings.text .layer-image-option{
  display: none;
}
#edit-layer-settings.text .layer-video-option{
  display: none;
}
#edit-layer-settings.image .layer-text-option{
  display: none;
}
#edit-layer-settings.image .layer-video-option{
  display: none;
}
#edit-layer-settings.video .layer-image-option{
  display: none;
}
#edit-layer-settings.video .layer-text-option{
  display: none;
}
.form-select{
  height: 29px;
  width: 100%;
}
#slideslist{
  margin: 15px 0;
  padding: 0;
}
#slideslist li{
  display: inline-block;
  padding: 5px 15px;
  margin-right: 5px;
  background-color: #eee;
}
#slideslist li span.fa{
  margin: 0 5px;
  cursor: pointer;
}
#slideslist li.active{
  border-bottom: 2px solid #0071b8;
}
ul#layer-list li span.move{
  cursor: move;
}
ul#layer-list li span {
    cursor: pointer;
    float: right;
    line-height: 38px;
    margin: 0 5px;
}
input.file-upload{
  background-image: url('../images/image.svg') !important;
  background-position: calc(100% - 6px) center !important;
  background-repeat: no-repeat !important;
}
.layer.video{
  background-color: #404040;
  background-image: url("../images/youtube.svg");
  background-position: center center;
  background-repeat: no-repeat;
}